/* ----------------------------------------------*/
/*________________ABOUT-US___________________________*/

.about-us .progress {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2); }

.about-us img.profile {
  border: 3px solid white; }

.about-us .redes-sociales a {
  color: white; }

.about-us .redes-sociales i {
  width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 100%;
  text-align: center; }

.about-us .fa-facebook {
  background-color: #4f7dd4; }

.about-us .fa-google {
  background-color: #dc422b; }

.about-us .fa-twitter {
  background-color: #5bceff; }

.about-us .fa-linkedin {
  background-color: #21a6d8; }
