/* -----------------------------------------------------------*/
/*________________COMMOM UTILITIES___________________________*/


.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0; }

.clearfix:after {
  clear: both; }

/** {
  outline: red solid 1px; }*/

.bg-blue {
  background-color: #34495e  !important;
  color: white !important; }

.bg-dark-blue {
  background-color: #123e50;
  background-color: #2c3e50;
  color: white; }

.bg-green {
  background-color: #2ecc71;
  color: white; }

.bg-dark-green {
  background-color: #1c7a44;
  color: white; }

.bg-red {
  background-color: #e74c3c;
  color: white; }

.bg-gray {
  background: #f5f5f5; }

.text-green {
  color: #2ecc71; }

.text-white {
  color: white; }

.pd-2 {
  padding-top: 2%;
  padding-bottom: 2%; }

.pd {
  padding-top: 35px;
  padding-bottom: 35px; }

.pd-10 {
  padding-top: 4%;
  padding-bottom: 4%; }

.pd-5 {
  padding-top: 5px;
  padding-bottom: 5px; } 

.header-blog li a{
  color:white;
}
.tags .label{
  margin:0px 5px;
}

/* ------------------------------------------------------------*/
/*________________MENU___________________________*/
$h-menu:60px;
$h-menu-resp:50px;


body {
  padding-top: $h-menu; }

.navbar-fixed-top {
    line-height: $h-menu;

}
  
.navbar-nav > li > a, .navbar .navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: $h-menu;
}


.sombra{
  position:fixed;
  top:$h-menu;
  z-index: 100000;
  height:12px;
  width:100%;
  background:linear-gradient( rgba(52,73,94,1), rgba(52,73,94,0));
} 

@media (max-width: 768px) {
    .navbar-fixed-top,.navbar-nav > li > a, .navbar .navbar-brand {

      line-height: $h-menu-resp;
    }

    .navbar-nav > li > a{
      line-height: 40px;
    }
    .sombra{
      top:$h-menu-resp;
    }
    .body{
       padding-top: $h-menu-resp;
    }
}

nav li a.active {
  background-color: #123e50;
  color: white; }

nav a {
  color: white; }



.navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #123e50 !important;
  color: white !important;
  box-shadow: 0px 0px 30px rgb(30,50,75);
  text-shadow: 0px 0px 2px white;
  font-weight: 200;

  }

nav li a:hover {
  box-shadow: 0px 0px 30px rgb(30,50,75);
  text-shadow: 0px 0px 2px white;
  background-color: #123e50 !important;
  color: white; }

.navbar .navbar-brand{
  font-size: 1.7em;
  font-weight:bolder;
}
.navbar a {
  color: white !important; }

.navbar {
  margin: 0px;
  border: 0;
   }
header{
  transition: top 0.2s ease-in-out;
}

.nav-up{
  top: -$h-menu;
}
/* -------------------------------------------------------*/
/*________________FOOTER___________________________*/

.list-company {
  list-style: none; }

.list-company li i {
  color: white;
  font-size: 12px;
  margin-right: 5px; }

.list-company {
  padding-left: 0; }

.bf {
  background: #d9534f;
  color: white;
  border-color: #d9534f; }

.list-footer li a, .list-company li a {
  color: white;
  text-decoration: none; }

.list-footer li i {
  font-size: 20px; }

footer p, footer li, footer a {
  color: rgba(255, 255, 255, 0.7) !important; }

.footer {
  padding: 30px 0; }

.footer1 {
  line-height: 50px; }
