/* ----------------------------------------------*/
/*________________SERVICES___________________________*/

/*contenedor iconos+++++++++++++++++++++++++++*/
.window {
  padding-top: 50px; }

.linea {
  border-bottom: solid 1px #E6E6FA; }

.cont-1 {
  padding: 10px 0; }

.cont-ico i {
  font-size: 35px;
  position: relative;
  top: 20px;
  color: white;
  padding: 15px;
  background: gray;
  border-radius: 100%;
  margin-left: 10px; }

.article {
  padding: 30px 0 50px; }

/* ----------------------------------------------*/
/*________________PORTFOLIO___________________________*/

.cont-img1 {
  box-sizing: border-box;
  padding: 8px 8px 2px;
  background: white;
  border: solid #E6E6FA 1px;
  margin: 10px 0; }

.cont-portafolio {
  padding: 40px 0; }

